################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/LocalizadorAmigosWebApp/.vs/LocalizadorAmigosWebApp/v16/Server/sqlite3
